<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Convert to Title Case!</title>
</head>
<body>
    <div class='container'>
        <h1>Ping Pong Generator</h1>
        <p>Enter a number to see a sequence of integers, with ping, pong and pingpong insertions, up to that number.</p>
        <form action='/view_pingponged'>
            <div class='form-group'>
              <label for='number'>Number:</label>
              <input id='number' name='number' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn btn-success'>Generate PingPong list</button>
        </form>
    </div>
</body>
</html>
